<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
  
  <div class="container-fluid">
    <h3>Your Courses:</h3>
    List These Here
  </div>

  <div class="container-fluid mt-3">
    <h3>Add Course:</h3>
    <form action="/course" method="POST">
      <label for="name">Course Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="short">Course Short:</label>
      <input type="text" id="short" name="short" required>
      <label for="credits">Credits Earned</label>
      <input type="text" id="credits" name="credits" required>
      <label for="description">Description:</label>
      <textarea name="description" id="description" required></textarea>
      <button>Submit</button>
  </form>
  </form>
  </div>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>