<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>Student Landing</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <section class="m-3">
        <p>Please hold while we get the course adding and removal process added to this page. This is the student version, so you cannot modify the courses, but you can modify your schedule here.</p>
    </section>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>