:root {
    --bg-color-1: #234f2e;
    --bg-color-3: #257e3b;
    --bg-color-2: #fbfbef;
    --text-color-1: #f1f2de;
}

body {
    background-color: var(--bg-color-2);
}

.dark-div {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    
}

.dark-btn {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

.dark-btn:hover {
    background-color: var(--bg-color-3);
    color: var(--text-color-1);
}

.img-sm{
    max-width: 600px;
}

@media (max-width: 600px) {
    .img-sm {
        max-width: 300px;
        padding: 2px;
    }
    .small-center{
        text-align: center;
    }
}
form h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
  }
form{
    width: 420px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;}

 input{
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #ddd;
        font-size: 0.875em;
        width: 80%;
}

select{
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 0.875em;
    width: 80%;
    margin: 20px 0 10px;
}

label{
        display: block;
        margin: 20px 0 10px;}


textarea{
    width: 80%; 
}

div.mb-2{
    width: 20%;
}
.hidden {
    display: none;
}